rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sensor_data/{dataId} {
      allow read, write: if true;
    }

    match /device_settings/{configId} {
      allow read, write: if true;
    }
  }
}
